<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Back Office</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ base_url() }}/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/css/font-awesome.min.css" rel="stylesheet">


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="/reporting/static/js/html5shiv.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/static/ico/favicon.png">
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Back Office</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <!-- ANIMATION -->
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">外卖 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="" role="menuitem">所有店家</a></li>
                        </ul>
                    </li>

                </div>

        </nav>


        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="{{ base_url() }}/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
</html>
